<div class="container">
    <div class="side_nav_wrapper">
        <app-side-nav></app-side-nav>
    </div>
    <div class="content">
        <!-- <app-folder></app-folder>
        <app-folder></app-folder>
        <app-folder></app-folder>
        <app-folder></app-folder>
        <app-folder></app-folder>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <input type="file" name="file" id="file"> -->
        <router-outlet></router-outlet>
    </div>
</div>