.toolbar_wrapper{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fileInput{
    visibility: hidden;
}
.toolbar_left{
    display: flex;
    align-items: center;
}

button.prev_dir{
    margin-right: 10px;
    border: none;
    background-color: #fff;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px; */
    padding: 5px;
    font-size: 20px;
    /* border: solid 1px grey; */
    width: 40px;
}
.btn_primary{
    background-color: blue;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    border: none;
    height: 40px;
    border-radius: 5px;
}